 <select id="filters-list" value={{value}}>
	
</select> 

<!-- <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#heroList" href="#hero<%= label %>">{{label}}</a>
      </div>
      
      <div id="hero<%= label %>" class="accordion-body collapse" style="height: 0px;">
          <div class="accordion-inner">
            <ul>
            </ul>
          </div>
      </div> -->